MONGODB_URI=mongodb://127.0.0.1:27017/orders_db
# Atlas: mongodb+srv://USER:PASS@CLUSTER_HOST/orders_db?retryWrites=true&w=majority

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
CORS_ALLOWED_ORIGINS=*

PRODUCT_SERVICE_URL=http://localhost:8082/api/v1
USER_SERVICE_URL=http://localhost:8081/api/v1
# Docker Compose: http://product-service:8082/api/v1 and http://user-service:8081/api/v1
